<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138796713868-ru0pqmc4bne7kv5u8dae5bgcpj397hfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138796713868-ru0pqmc4bne7kv5u8dae5bgcpj397hfu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>138796713868-3elb01v82iv54s0mg8mkc67jaap6mn27.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVwQByK3WHWcZ-mBwDcrmbljHzEIrFTuU</string>
	<key>GCM_SENDER_ID</key>
	<string>138796713868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.org.apply.app.prospectuses</string>
	<key>PROJECT_ID</key>
	<string>uniapplyforme-aps</string>
	<key>STORAGE_BUCKET</key>
	<string>uniapplyforme-aps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138796713868:ios:9a450ad67ed49b91b3b8a9</string>
</dict>
</plist>